
.intro {
  font-family: cursive, monospace;
  color: gray;
}

/*p {
  font-family:cursive;
}*/

img {
  float: right;
  margin: 0 0 10px 10px;
  border-style: solid;
  border-width: thick;
  border-radius: 30px;
  border-color: gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
